.title {
  color: #372c3e;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.body small {
  color: grey;
}

.body img {
  border-radius: 4px;
}
.text-picture-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.picture {
  position: relative;
  flex: 0 0 30%;
}

.body-text {
  flex: 0 0 65%;
  padding: 1rem;
  padding-bottom: 1rem;
  height: 150px;
  position: relative;
  white-space: pre-wrap;
}

.text-container {
  height: 100%;
  overflow: hidden;
}

.fade {
  bottom: 0;
  height: 150px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  width: 100%;
}

.long-body {
  height: auto;
  min-height: 200px;
  overflow: auto;
  margin-top: 2rem;
}

.single-picture {
  position: relative;
}

.link {
  color: white;
  background-color: #372c2e;
  border: 1px solid #372c2e;
  border-radius: 8px;
  width: 40%;
  margin: 2rem auto 2rem auto;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  user-select: none;
}

.picture-container {
  position: relative;
  width: 100%;
}

.picture-container span {
  position: relative !important;
}

.picture-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
