.spinner {
  position: relative;
  width: 100%;
  max-width: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 2s linear infinite;
}

.spacer {
  margin-bottom: 100vh;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
