.generic-li {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.103);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
