---
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <div>
    <h1>404</h1>
    <h3>ページは見つかりませんでした。</h3>
  </div>
</Layout>

<style scoped>
  div {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
  }
</style>
