.title {
  color: #372c3e;
}

.body {
  display: flex;
  flex-direction: column;
}

.body section {
  padding-bottom: 1rem;
  max-height: 200px;
  overflow: hidden;
  mask-border: linear-gradient(180deg, #000 60%, transparent);
}

.body small {
  color: grey;
}
