.title {
  color: #372c3e;
}

.body {
  display: flex;
  flex-direction: column;
}

.body section {
  padding-bottom: 1rem;
  height: 80px;
  overflow: hidden;
}

.body small {
  color: grey;
}

.text-picture-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.picture {
  position: relative;
  flex: 0 0 30%;
}

.body-text {
  flex: 0 0 65%;
}

.long-body {
  height: auto;
  min-height: 400px;
  overflow: auto;
}
