.container {
  padding: 0 2rem;
  width: 100%;
}

.main {
  min-height: 100vh;
  color: #372c2e;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h3 {
  color: #de9e48;
}

.button {
  color: white;
  background-color: #372c2e;
  border: 1px solid #372c2e;
  border-radius: 8px;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  padding: 2rem 0;
  cursor: pointer;
  user-select: none;
}
