.container {
  padding: 0 2rem;
  width: 100%;
}

.main {
  min-height: 100vh;
  color: #372c2e;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h3 {
  color: #de9e48;
}

.feed {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.life-cycle {
  margin: 2rem auto;
  min-height: 100vh;
  color: #372c2e;
}

.life-cycle h1 {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #372c2e63;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
