---
import { AdminNavBar } from "@components/lit-components/admin-nav-bar";
import { EditPostForm } from "@components/lit-components/edit-post-form";
import Card from "@components/UI/Card";
import type { PostServerModel } from "@localTypes/post-model";
import Layout from "src/layouts/Layout.astro";

export async function getStaticPaths() {
  const data: PostServerModel[] = await fetch(
    `${import.meta.env.API_URI}/posts`
  ).then(response => response.json());

  return data.map(post => {
    return {
      params: { id: String(post.id) },
      props: { post },
    };
  });
}

const { id } = Astro.params;
if (!id) throw Error("Id must be defined.");
---

<Layout>
  <AdminNavBar api-path={import.meta.env.NEXT_PUBLIC_API_URI} client:load />
  <Card className="wide">
    <h4>新規投稿</h4>
    <EditPostForm
      api-path={import.meta.env.NEXT_PUBLIC_API_URI}
      post-id={id}
      client:load
    />
  </Card>
</Layout>
